RabbitMQTest/RabbitMQTest/bin/Debug/net6.0/DefaultExchangeProducer.deps.json
RabbitMQTest/RabbitMQTest/bin/
RabbitMQTest/RabbitMQTest/obj/
RabbitMQTest/DefaultExchangeConsumer/bin/
RabbitMQTest/DefaultExchangeConsumer/obj/
RabbitMQTest/packages/
